build_cpu/
build_gpu/
carex-cpu
carex-gpu
findgpus
gpuarchs.txt
.vscode
evaluation/convertgapfilleroutput
evaluation/counteditsinpseudoreads
evaluation/countgapeditsfromsam
evaluation/konnectoraddmateinfo
evaluation/makepairregionbed
evaluation/reorderReadsByFai
evaluation/filterBySimpleRepeat
evaluation/markRepeatsInReadRegions
evaluation/reversecomplementfastq